# <center> Jeodyshan Obra </center>

# <center> IS362 Project 3 </center>

In [1]:
import  pandas as pd
import sqlite3

##### I am connecting the Chinnok_sqlite file using the connect()

In [2]:
con = sqlite3.connect("Chinook_Sqlite.sqlite")
tracks = pd.read_sql_query("SELECT * from Track", con=con)

### This is the entire track query

In [3]:
tracks

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

##### This SQL query will join all five tables and sort them by Last and First Name

In [4]:
sql = '''SELECT name.LastName, name.FirstName, track.Name, alb.Title
         FROM Customer as name
         LEFT JOIN Invoice as invo
         ON name.CustomerId = invo.CustomerId
         LEFT JOIN InvoiceLine as involine
         ON invo.InvoiceId = involine.InvoiceId
         LEFT JOIN Track as track
         ON involine.TrackId = track.TrackId
         LEFT JOIN Album as alb
         ON track.AlbumId = alb.AlbumId
         ORDER BY name.LastName, name.FirstName'''

con = sqlite3.connect("Chinook_Sqlite.sqlite")
db = pd.read_sql_query(sql , con=con).head(10)
con.close()
db

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos AviÃµes Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso VocÃª Queira Saber,Minas
5,Almeida,Roberto,Dance,Ace Of Spades
6,Almeida,Roberto,Aos LeÃµes,Demorou...
7,Almeida,Roberto,Demorou!,Demorou...
8,Almeida,Roberto,Home Sweet Home,Motley Crue Greatest Hits
9,Almeida,Roberto,Intro,From The Muddy Banks Of The Wishkah [Live]